{% extends "base.html" %} {% block title %}Labeling{% endblock %} {% block
content %}

<!-- Set styling -->
<link rel="stylesheet" type="text/css" href="/static/css/labeling.css" />

<div
  class="container-fluid"
  style="
    background-image: url('static/pictures/background1.png');
    background-size: cover;
  "
>
  <!-- Flickering neon text -->
  {% if form1 %}
  <div class="container-fluid" style="margin-bottom: 4rem">
    <h1 class="neonText">404</h1>
    <h2 class="neonText">Labeling Not Found</h2>
  </div>
  {% endif %}

  <!-- Error handling if you upload too many files -->
  {% if error %}
  <p class="error" style="text-align: center">
    <strong>Error:</strong> {{ error }}
  </p>
  <br />
  <br />
  {% endif %}

  <!-- Upload files form -->
  {% if form1 %}
  <div class="labeling-container">
    <form method="POST" enctype="multipart/form-data" name="image">
      <div class="form-group" style="text-align: center; margin-bottom: 1rem">
        <h6>
          UPLOAD IMAGES
          <i class="bi bi-cloud-arrow-up-fill" style="font-size: 23px"></i>
        </h6>
      </div>
      {{ form1.csrf_token }} {{form1.photos}}
      <span class="validation_error">{{ ', '.join(form1.photos.errors) }}</span>
      {{form1.submit}}
    </form>
  </div>
  {% endif %}

  <!-- Added image grid to display uploaded images -->
  {% if uploaded_images %}
  <br />
  <br />
  <h4>Uploaded Images</h4>
  <div class="image-grid">
    {% for curr_file_name in uploaded_images %} <img
    src="{{url_for('static',filename ="files/" + curr_file_name )}}" /> {%
    endfor %}
  </div>
  <!-- Added  get labeling start button -->
  <div style="text-align: center">
    <a class="button" style="padding: 16px 32px" href="/labeling/start"
      >Start Labeling</a
    >
    <br />
    <br />
  </div>
  {% endif %}

  <!-- Display images -->
  {% if image_names %}
  <h2 class="neonText">Labeling</h2>
  <div class="labeling-container">
    {% for curr_file_name in image_names %}
    <form method="POST" name="label">
      <div class="item">
        <h5>Image Name: {{curr_file_name}}</h5>
        <img src="{{url_for('static',filename ="files/" + curr_file_name )}}" />
        <br />
        <br />
        <br />

        <!-- Display label form -->
        <h6>Label {{loop.index0}}</h6>
        {{form2.csrf_token}}{{form2.hidden_tag()}}
        {{form2.labels[loop.index0](class_="form-control")}}
      </div>
      {% endfor %}
      <br />
      <!-- Submit button for label forms -->
      {% if form2 %}
      <div class="col text-center">{{form2.submit}}</div>
      {% endif %}
    </form>
  </div>
  {% endif %}
</div>

<!-- ============================================================================ -->
<!-- FOOTER OF THE LABELING PAGE -->
<footer class="bg-dark text-center text-white">
  <!-- Container -->
  <div class="container-fluid">
    <div class="row">
      <!-- Column -->
      <div class="col-md-12" style="margin-top: 2rem; margin-bottom: 2rem">
        <h3><strong>Technische Universität München</strong></h3>
        <h3>Arcisstraße 21</h3>
        <h3>80333 München</h3>
      </div>
    </div>
  </div>
  <!-- Container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    All Rights Reserved © 2022
    <a class="text-white" href="https://google.com">AMI_Group15.com</a>
  </div>
  <!-- Copyright -->
</footer>
{% endblock %}
