{% extends "base.html" %} {% block title %}Labeling{% endblock %} {% block
content %}
<!-- Set styling -->
<link rel="stylesheet" type="text/css" href="/static/css/labeling.css" />
<br />
<br />
<h3>Labeling</h3>
<br />
<br />

<!-- Error handling if you upload too many files -->
{% if error %}
<p class="error"><strong>Error:</strong> {{ error }}</p>
<br />
<br />
{% endif %}

<!-- Upload files form -->
{% if form1 %}
<div class="labeling-container">
  <form method="POST" enctype="multipart/form-data" name="image">
    <div class="form-group">
      <h6>Upload images for labeling...</h6>
    </div>
    {{ form1.csrf_token }} {{form1.photos}}
    <span class="validation_error">{{ ', '.join(form1.photos.errors) }}</span>
    {{form1.submit(class_="btn btn-primary")}}
  </form>
</div>
{% endif %}

<br />
<br />

<!-- Added image grid to display uploaded images -->
{% if uploaded_images %}
<h4>Uploaded Images</h4>
<div class="image-grid">
  {% for curr_file_name in uploaded_images %}
  <img src="{{url_for('static',filename ="files/" + curr_file_name )}}" />
  {% endfor %}
</div>
<!-- Added  get labeling start button -->
<a class="btn btn-primary" href="/labeling/start">Start Labeling</a>
{% endif %}
</div>

<!-- Display images -->
{% if image_names %}
<div class="labeling-container">
  {% for curr_file_name in image_names %}
  <form method="POST" name="label">

    <div class="item">
      <h5>Image Name: {{curr_file_name}}</h5>
      <img src="{{url_for('static',filename ="files/" + curr_file_name )}}" />
      <br />
      <br />
      <br />

      <!-- Display label form -->
      <h6>Label {{loop.index0}}</h6>
      
      {{form2.hidden_tag()}} {{form2.labels[loop.index0](class_="form-control")}}
    </div>
    {% endfor %}


    <br />

    <!-- Submit button for label forms -->
    {% if form2 %}
    <div class="col text-center">
      {{form2.submit(class_="btn btn-primary")}}
    </div>
    {% endif %}
  </form>
</div>

{% endif %}

<br />
</div>
{% endblock %}