{% extends "base.html" %} {% block title %}Prediction{% endblock %} {% block
content %}
<!-- Set styling -->
<link rel="stylesheet" type="text/css" href="/static/css/labeling.css" />

<br />
<br />
<h3>Prediction</h3>

<!-- Error handling if you upload too many files -->
{% if error %}
<p class="error"><strong>Error:</strong> {{ error }}</p>
<br />
<br />
{% endif %}

<!-- Upload files form -->
{% if form1 %}
<br />
<br />
<div class="labeling-container">
    <form method="POST" enctype="multipart/form-data" name="image">
        <div class="form-group">
            <h6>Upload images for prediction...</h6>
        </div>
        {{ form1.csrf_token }} {{form1.photos}}
        <span class="validation_error">{{ ', '.join(form1.photos.errors) }}</span>
        {{form1.submit(class_="btn btn-primary")}}
    </form>
</div>
{% endif %}

<br />
<br />

<!-- Added image grid to display uploaded images -->
{% if grid_images %}
<section>
    <h5>Uploaded Images</h5>
    <div class="image-grid">
        {% for curr_file_name in grid_images %}
        <img style="max-width: 100%; height:100%" src="{{url_for('static', filename = "files/" + curr_file_name )}}" />
        {% endfor %}
    </div>
</section>

<br />

<!-- Added  get predictions button -->
<div class="col text-center">
    <a class="btn btn-primary" id="getpred" href="/prediction/show">Get Predictions</a>
</div>
{% endif %} 


<!-- Display images and their predicions -->
{% if predictions %}
<div class="labeling-container">
    {% for curr_file_name in pred_images %}
    <div class="item">
        <h5>Image Name: {{curr_file_name}}</h5>
        <img src="{{url_for('static',filename ="files/" + curr_file_name )}}" />
        <br />
        <br />
        <!-- Display prediction -->
        <header>
            <h6>Prediction</h6>
            <h6>{{predictions[loop.index0]}}</h6>
        </header>
        <header>
            <h6>Confidence <br /><br />{{prob_dicts[loop.index0]}}</h6>
        </header>
        <br />
        <div class="col text-center">
            <a class="btn btn-primary" id="correct" href="/prediction">Correct</a>
        </div>
    </div>
{% endfor %}

</div>

{% endif %}

<br />
<br />
{% endblock %}