/* ------------------- Image grid code ---------------------*/
body {
  text-align: center;
}

.image-grid {
  --gap: 16px;
  --num-cols: 4;
  --row-height: 300px;

  box-sizing: border-box;
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
}

.image-grid > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-grid-col-2 {
  grid-column: span 2;
}

.image-grid-row-2 {
  grid-row: span 2;
}

/* Anything udner 1024px */
@media screen and (max-width: 1024px) {
  .image-grid {
    --num-cols: 2;
    --row-height: 200px;
  }
}

/* ------------------- Centering forms and images ---------------------*/

form {
  display: inline-block;
  text-align: left;
}

img {
  height: 300px;
  width: 300px;
  object-fit: fill;
  border-radius: 10px;
}

/* ------------------- Container for displaying images ---------------------*/

.labeling-container {
  margin: auto;
  width: 60%;
  border: 2px solid rgb(39, 39, 39);
  border-radius: 8px;
  padding: 50px;
  width: 500px;
}

.item {
  text-align: left;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #eeeeee;
  padding: 3em;
  margin-bottom: 1em;
  border-radius: 10px;
}

header {
  display: flex;
  align-items: center;
  
  /* Remove the next line if you want the span to appear next to the h1 */
  justify-content: space-between;
  
  border-bottom: 1px solid rgb(141, 141, 141);
  padding: 10px 10px;
}